.menu{
    /* background: url(/namboram/img/sky2.png) ; */
    background-color: rgb(186, 189, 187);
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 300vh;
    margin-left: 0em;
    margin-top: -2em;
    
 
}

/*RESET*/
* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: #404040;
}

li {
    list-style: none;
}



/* 구글맵 */

 #popup{
  position: absolute;
  width : 500px;
  height : 500px;
  top : 130px;
  left : 550px;
  /* border :1px solid rgb(255, 255, 255); */
  
  /* background: rgb(255, 255, 255); */
 }
 
 #view {
  width : 1100px;
  height : 600px;
  border : 3px solid rgb(223, 222, 222);
  /* border : none; */
  margin-top: -2.5em;
  margin-left: -13em;
  
 }

#closeBtn {
    font-size: 20px;
    margin-top: 3%;
    margin-left: 43%;
    width: 15%;
    height: 7%;
    border-radius: 8%;
    background-color: rgb(167, 219, 181);
    color: white;
    border: 3px solid rgb(223, 173, 169);
    z-index: -300px;
}

#closeBtn:hover {
    background-color: rgb(208, 104, 86);
}

#locationBtn {

    height: auto;
    font-size: 100px;
    margin: auto;
    border-radius: 5%;
    border: none;
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(151, 204, 225); 
    padding-left: 20px;
    font-family: 'Nanum Gothic', sans-serif;

 
    
}

#locationBtn:hover {
    background-color: rgb(230, 204, 189);
}

/* 클릭하면 테두리생기는거 없애기 */
*:focus {
    outline: auto;
}






/* 로드뷰 */
#popup2{
    position: absolute;
    width : 500px;
    height : 500px;
    top : 130px;
    left : 550px;
    /* border :1px solid rgb(255, 255, 255); */
    
    /* background: rgb(255, 255, 255); */
   }
   
   #view2 {
    width : 1100px;
    height : 600px;
    border : 3px solid rgb(223, 222, 222);
    /* border : none; */
    margin-top: -2.5em;
    margin-left: -13em;
    
   }
  
  #closeBtn2 {
      font-size: 20px;
      margin-top: 3%;
      /* margin-left: 43%; */
      width: 15%;
      height: 7%;
      border-radius: 8%;
      background-color: rgb(167, 219, 181);
      color: white;
      border: 3px solid rgb(223, 173, 169);
  }
  
  #closeBtn2:hover {
      background-color: rgb(208, 104, 86);
  }
  
  #locationBtn2 {
  
      height: auto;
      font-size: 100px;
    float: right;
    padding-right:30px;
      margin: auto;
      border-radius: 5%;
      border: none;
      background-color: rgba(255, 255, 255, 0); 
      color: rgb(151, 204, 225); 
      font-family: 'Nanum Gothic', sans-serif;
   
  
      
      
  }
  
  #locationBtn2:hover {
      background-color: rgb(235, 186, 157);
      
  }
  
  







/* 비디오 */
.inner #videobcg {
    /* position: absolute; */
    
    top: 0px;
    left: 0em;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 30em;
    z-index: -1000;
    overflow: hidden;
}





/* back 버튼 */
.buttons {
    display: table-cell;
    padding:0em;
    padding-top: 100px;
    /* text-align: left; */
    /* vertical-align: left; */
}

[class*="btn-"] {
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgb(237, 235, 223);
    font-size: 19px;
    line-height: 50px;
    /* margin-right:0em; */
    margin-top: -2em;
    margin-left: 6em;
    max-width: 100px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-1 {
    letter-spacing: 0;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
}

/* 폰트 간격벌어지는거 */
.btn-1:hover,
.btn-1:focus,
.btn-1:active {
    letter-spacing: 8px;
}

/* 폰트 위아래 라인 */
.btn-1:after,
.btn-1:before {
    border: 2px solid rgba(237, 235, 223,0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
    width: 0;
}
.btn-1:hover:after,
.btn-1:hover:before {
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 80%;
}





body{
    margin: 0;
}


    
li {
    list-style: none;
}
   .slide_wrapper { 
       position: relative;
       width: 960px;
       margin: 0 auto;
       height: 300px; 
       overflow: hidden;
   }

   .slides{
       position: absolute;
       left: 0; top:0;
       width: 2610px; 
       transition: left 0.5s ease-out;

   }
   .slides li:not(:last-child){
       float: left;
       margin-right: 30px;
   }
 

   .controls{
       text-align: center;
       margin-top: 50px;
   }




.controls span{
  
    background: rgb(113, 114, 114);
    color: rgb(227, 225, 225);
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 0 10px;
    font-size: 20px;
    border:4px solid rgb(171, 170, 170);
    border-radius: 30%;
 
}

.controls span.prev{
    right: calc(100%+50px);
}
.controls span.next{
    right: calc(100%+50px);
}