

.wrapper1 {
    background-color: rgb(255, 255, 255);
    width:350px;
    padding: 27px;
    margin: 20px auto 0;   
}
.input{
    width: 90%;
    position: relative;
    margin: 15px auto;   
}

.id , .pw1 ,.pw2 , .name , .address {
    width: 200px;
    padding:10px 10px 10px 40px;
}

.pw1 , .pw2, .id ,.name , .address {
    border: 4px solid #d0cdcd;
    outline: none;
}
.id:hover , .pw2:hover , .name:hover , .address:hover {
    background-color: #e8e8e8;
}




  .button{
    background:#04193c;
    height: 40px;
    width: 75px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left: 90px;
    
    
  }
  .button:hover{
      background-color: rgb(141, 167, 209);
      transition: all .35s;
  }
